/* Color Theme Swatches in Hex */
.Tech-background-1-hex {
  color: #8c031c;
}
.Tech-background-2-hex {
  color: #8c0343;
}
.Tech-background-3-hex {
  color: #40021f;
}
.Tech-background-4-hex {
  color: #191e73;
}
.Tech-background-5-hex {
  color: #021f59;
}
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    120deg,
    #8c031c,
    #8c0343,
    #40021f,
    #191e73,
    #021f59
  );
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
#img {
  display: flex;
  width: 200x;
  height: 200px;
  border-radius: 10px;
  height: 130px;
  color: #0a89a6;

}
header {
  padding: 5px;
  position: relative;
  bottom: 150px;
  display: flex;
  text-align: center;
  height: 250px;
  margin-left: 10px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#texto {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Aboreto", cursive;
  background-color: rgba(83, 83, 83, 0.2);
  color: black;
}
main {
  text-align: center;
}
a {
  text-decoration: none;
}
